body{
    position: relative;
    margin: 0;
    background-color: rgb(17, 34, 51);
}

/*Header*/
.Owl-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color:rgb(11, 22, 34);
}

.logo-name{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo-owl, img{
    width: 80px;
    margin: 10px 0 10px 5px;
}

.Name{
    color: white;
    font-size: 35px;
    font-family: cursive;
}

a{
    color: white;
    text-decoration: none;
}

.Home, .Contact, .About-us{
    margin-right: 15px;
    font-size: 18px;
    transition: all 1s ease 0s;
}

svg, .IG, .FB, .Reddit, .youtube{
    padding-right: 10px;
    transition: .5s ease;
}



main{
    margin: 1000px;
}








/*Footer*/

.Owl-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(11, 22, 34);
    max-width: 3000px;
}

.social-links{
    margin-top: 30px;
}

ul, li{
    list-style: none;
}

.About-restaurant{
    color: white;
    display: flex;
    flex-direction: column;
}

h4{
    font-size: 30px;
}

a:hover{
    color: red;
}

svg:hover{
    fill: red;
}